:root {
    --primary-color: rgb(135, 119, 255);
    --secondary-color: rgb(183, 183, 183);
    --accent-color: black;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 50% 50%;
    gap: 40px;

}

h1 {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
}

nav {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

}

h1,
h2 {
    font-family: var(--body-font);
    color: var(--accent-color);

}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;

}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-end;
}

.hero h1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: var(--accent-color);
}

.hero article {
    position: absolute;
    bottom: 300px;
    left: 20px;
    right: 20px;
    padding: 40px;
    background-color: var(--secondary-color);
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 20px;
}

h2 {
    display: flex;
    justify-content: center;

}

.history {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.history h2 {
    grid-column: 1 / 4;
    text-align: center;
}

.history img {
    max-width: 200px;
}

.adventure {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.adventure h2 {
    width: 100%;
    text-align: center;
}

.adventure figure {
    margin: 0;
    text-align: center;
}

.adventure img {
    width: 150px;
    height: auto;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}