main {
    max-width: 840px;
}

nav {
    background-color: blue;
    padding: 5px;
}

Nav a {
    background-color: lightblue;
    padding: 2px;
    display: block;
}

h1 {
    color: black;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;

}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    padding: 1px;
    border: 1px black solid;
    box-shadow: color(gray);
}

p {
    padding: 0px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid black;
    text-align: center;

}